{% extends 'layouts/application.html' %} {% block content %}
<div id="soju-vue">
  <div class="soju-util">
    <audio id="audioSoju" loop="">
      <source src="audio/hopipolla.mp3" type="audio/mpeg" />
    </audio>

    <div class="soju-reply" id="soju-reply">
      <img
        src=" https://frontend.tikicdn.com/_mobile-next/static/img/TikiBirthday/replay-icon.svg"
      />
    </div>

    <div class="soju-audio-play" id="soju-audio">
      <img
        src="https://frontend.tikicdn.com/_mobile-next/static/img/audio-play.svg"
        class="on"
      />
      <img
        src="https://frontend.tikicdn.com/_mobile-next/static/img/audio-mute.svg"
        class="off"
      />
    </div>
  </div>

  <div class="reveal">
    <div class="slides">
      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="0"
        class="bg-pinklight"

        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-section">
              <div class="soju-welcome">
                <!-- <img
                  class="img-fluid mx-auto"
                  src="https://frontend.tikicdn.com/_mobile-next/static/img/TikiBirthday/Slide1.png"
                /> -->

                <div class="soju-name">
                  Hi <strong>${info && info.name} !</strong>
                </div>
                <div class="soju-subname">Đến với Nhật ký online!</div>
                <div class="soju-subname">MoMo chờ bạn từ chiều.</div>
              </div>

              <div>
                <img
                  src="img/demo/demo1.png"
                  width="200"
                  class="img-fluid mx-auto"
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>

          <div class="soju-footer" id="soju-button-next">
            <div class="soju-play"><span>Xem ngay</span></div>
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-pinklight"

        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt2 fade-up " data-fragment-index="1">
                <strong class="text-momo text-big">
                  ${info && info.date}</strong
                >
              </p>
              <p class="fragment txt1 fade-up " data-fragment-index="2">
                là ngày đầu tiên MoMo và <br />
                <strong class="text-momo">${info && info.name}</strong>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3">
                chính thức va vào nhau
              </p>

              <p
                class="fragment txt3 fade-right mb-4"
                data-fragment-index="4"
                data-autoslide="3000"
              >
                <i>Và hành trình bắt đầu…</i>
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo2.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt2 fade-up " data-fragment-index="1">
                Với
                <strong class="text-momo text-big"
                  >${info && info.money}đ
                </strong>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="2">
                Tiết kiệm từ MoMo
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3"  data-autoslide="3000">
                <strong class="text-momo">${info && info.name}</strong> có thể
                nghĩ về ngôi nhà và những đứa trẻ.
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo3.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
        data-background-color="rgb(74, 20, 140)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt1 fade-up " data-fragment-index="1">
                Tiền nhiều để làm gì nên <br />
                <strong class="text-momo">${info && info.name}</strong> chuyển
                hẳn
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="2">
                <strong class="text-momo text-big"
                  >${info && info.money} đồng
                </strong>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3"  data-autoslide="3000">
                trong năm nay để thể hiện sự sang chảnh của mình.
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo4.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>
      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
        data-background-color="rgb(74, 20, 140)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt1 fade-up " data-fragment-index="1">
                Thế giới có hơn 7 tỷ người,
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="2">
                vậy mà
                <strong class="text-momo text-big"> 25 </strong> người
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3"  data-autoslide="3000">
                vẫn chuyển tiền cho <br />
                <strong class="text-momo">${info && info.name}</strong>.
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo5.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
        data-background-color="rgb(74, 20, 140)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt1 fade-up " data-fragment-index="1">
                Cùng xem qua top <strong class="text-momo">3 người</strong>.
                chuyển tiền cho
                <strong class="text-momo">${info && info.name}</strong> nhiều
                nhất
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="2">
                <span class="text-yellow text-medium"> Roger Federer</span>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3">
                <span class="text-yellow text-medium"> Rafael Nadal</span>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="4"  data-autoslide="3000">
                <span class="text-yellow text-medium"> Novak Djokovic</span>
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo2.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
        data-background-color="rgb(74, 20, 140)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <!-- <p class="fragment txt1 fade-up " data-fragment-index="1">
              <strong class="text-momo">${info && info.name}</strong> có vài người bạn, tuy không nhiều nhưng họ đều nhận tiền từ bạn.
            </p> -->

              <p class="fragment txt1 fade-up " data-fragment-index="1">
                Cùng xem qua top <strong class="text-momo">3 người</strong> bạn
                "thân ai nấy lo" nào
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="2">
                <span class="text-yellow"> Roger Federer</span>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3">
                <span class="text-yellow"> Rafael Nadal</span>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="4"  data-autoslide="3000">
                <span class="text-yellow"> Novak Djokovic</span> 
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo1.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
        data-background-color="rgb(74, 20, 140)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <!-- <p class="fragment txt1 fade-up " data-fragment-index="1">
            <strong class="text-momo">${info && info.name}</strong> có vài người bạn, tuy không nhiều nhưng họ đều nhận tiền từ bạn.
          </p> -->

              <p class="fragment txt1 fade-up " data-fragment-index="1">
                Đầu tuần là thứ hai còn
              </p>
              <p class="fragment txt1 fade-up " data-fragment-index="2">
                <strong class="text-momo text-medium">Soju The Wolf</strong>
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3">
                luôn là thứ nhất.
              </p>
              <p class="fragment txt1 fade-up " data-fragment-index="4"  data-autoslide="3000">
                Người mà
                <strong class="text-momo">${info && info.name}</strong> chuyển
                tiền đầu tiên.
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo2.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
        data-background-color="rgb(74, 20, 140)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <!-- <p class="fragment txt1 fade-up " data-fragment-index="1">
          <strong class="text-momo">${info && info.name}</strong> có vài người bạn, tuy không nhiều nhưng họ đều nhận tiền từ bạn.
        </p> -->

              <p class="fragment txt1 fade-up " data-fragment-index="1">
                Sự chú ý của
                <strong class="text-momo">${info && info.name}</strong>
              </p>
              <p class="fragment txt1 fade-up " data-fragment-index="2">
                đã va phải ánh mắt của
                <strong class="text-momo">Soju The Wolf</strong>.
              </p>

              <p class="fragment txt1 fade-up " data-fragment-index="3">
                Duyên của mình là duyên tiền định,
              </p>
              <p class="fragment txt1 fade-up " data-fragment-index="4"  data-autoslide="3000">
                được định sẵn chuyển tiền nhiều nhất năm qua.
              </p>
            </div>
          </div>

          <div class="" >
            <img
              src="img/demo/demo5.png"
              width="220"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            /> 
          </div>
        </div>
      </section>


      <section
      data-transition="fade"
      data-transition-speed="slow"
      data-autoslide="1000" 
      class="bg-red"
      data-background-color="rgb(183, 28, 28)"
    >
      <div class="soju-wrap">
        <div class="soju-main">
          <div class="soju-cluster">
            <!-- <p class="fragment txt1 fade-up " data-fragment-index="1">
        <strong class="text-momo">${info && info.name}</strong> có vài người bạn, tuy không nhiều nhưng họ đều nhận tiền từ bạn.
      </p> -->

            <p class="fragment txt1 fade-up " data-fragment-index="1">
              Yêu là phải nói, đói là phải ăn,
              <strong class="text-momo">${info && info.name}</strong>
            </p>
            <p class="fragment txt1 fade-up " data-fragment-index="2">
              điện thoại hết tiền là phải nạp liền MoMo.
             
            </p>

            <p class="fragment txt1 fade-up " data-fragment-index="3">
              <strong class="text-momo">Soju The Wolf</strong>. đã nạp 
            </p>

            <p class="fragment txt1 fade-up " data-fragment-index="4"  data-autoslide="3000">
              <strong class="text-momo">2,3 triệu đồng</strong> trong năm qua.
            </p>
         
          </div>
        </div>

        <div class="" >
          <img
            src="img/demo/demo5.png"
            width="220"
            class="img-fluid mx-auto"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
    </section>


      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->
      <!-- //fwefew -->

      <!-- //fwefew -->

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
        class="bg-purple"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt1 fade-up" data-fragment-index="1">
                Bạn nhất định là
              </p>
              <p class="fragment txt2 fade-up" data-fragment-index="2">
                người của gia đình
              </p>

              <p
                class="fragment txt3 fade-up"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                ...hay lang thang trong
                <strong class="txt-yellow">Hàng Tiêu Dùng</strong>
              </p>
            </div>
          </div>

          <div class="soju-footer p-0" >
            <img
              class="img-fluid mx-auto"
              src="https://frontend.tikicdn.com/_mobile-next/static/img/TikiBirthday/Slide33.png"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt1 fade-up" data-fragment-index="1">
                Bạn thường ghé thăm Tiki lúc nào?
              </p>
              <p class="fragment txt2 fade-up" data-fragment-index="2">
                6h tối trở đi,
              </p>

              <p
                class="fragment txt3 fade-up"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                <strong class="txt-yellow">Làm việc cả ngày rồi</strong> <br />
                <strong class="txt-yellow"> thưởng cho bản thân đã</strong>
                <br />
              </p>
            </div>
          </div>

          <div class="soju-footer p-0">
            <img
              class="img-fluid mx-auto"
              src="https://frontend.tikicdn.com/_mobile-next/static/img/TikiBirthday/Slide4.png"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <p class="fragment txt1 fade-up" data-fragment-index="1">
                Mua sắm tại Tiki giúp bạn tiết kiệm
              </p>
              <p class="fragment txt2 fade-up" data-fragment-index="2">
                5.541.840 ₫
              </p>

              <p
                class="fragment txt3 fade-up"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                Bạn thật biết liệu cơm gắp mắm!
              </p>
            </div>
          </div>
          <div class="soju-footer p-0" >
            <img
              class="img-fluid mx-auto"
              src="https://frontend.tikicdn.com/_mobile-next/static/img/TikiBirthday/Slide10.png"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000" 
      >
        <div class="soju-wrap">
          <div class="soju-header p-0">
            <img
              class="img-fluid mx-auto"
              src="https://frontend.tikicdn.com/_mobile-next/static/img/TikiBirthday/Slide11.png"
            />
          </div>
          <div class="soju-main is-align-star">
            <div class="soju-cluster">
              <p class="fragment txt2 fade-up" data-fragment-index="1">
                Cảm ơn nguyen thi tinh
              </p>

              <p class="fragment txt3 fade-up" data-fragment-index="2">
                Người bạn 3 năm 9 tháng thân thiết
              </p>

              <div
                class="fragment txt1 fade-up"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                đã tin tưởng Tiki<br />với
                <strong class="txt-yellow">102 đơn hàng </strong> <br />
                trị giá <strong class="txt-yellow">67.541.504đ</strong>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script>
  new Vue({
    el: "#soju-vue",
    data: {
      info: null,
      loading: true,
      errored: false,
    },
    delimiters: ["${", "}"],
    mounted: function () {
      var vm = this;

      axios
        .get("https://run.mocky.io/v3/498d5bb8-9eb7-48ad-87e9-a6e3ad36f021")
        .then((response) => (this.info = response.data))
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;

          Reveal.initialize({
            // width: 375,
            // height: 667,
            controls: false,
            progress: false,
            // keyboard: false,
            pause: false,
            touch: false,
            center: true,
            hash: false,
            minScale: 0.9,
            maxScale: 1,
            // autoSlide: 1000,
            embedded: false,
            disableLayout: true,
            autoSlideStoppable: false,
          });
        });
    },
  });

  const audio = document.querySelector("#audioSoju");

  function playSound() {
    if (!audio) return;
    if (audio.paused) {
      audio.play();
      document.body.classList.remove("is-audio-pause");
      return;
    }
    audio.pause();
    document.body.classList.add("is-audio-pause");
  }

  Reveal.on("ready", (event) => {
    // event.currentSlide, event.indexh, event.indexv
    console.log("dang chay");
  });

  Reveal.on("slidetransitionend", (event) => {
    console.log(event.currentSlide);
    console.log(Reveal.isLastSlide());

    if (Reveal.isLastSlide()) {
      document.body.classList.add("is-end");
    } else {
      document.body.classList.remove("is-end");
    }
  });

  Reveal.on("autoslideresumed", (event) => {
    console.log("dang chay");
  });
  Reveal.on("autoslidepaused", (event) => {
    console.log("dang dung");
  });

  document
    .querySelector("#soju-button-next")
    .addEventListener("click", function () {
      Reveal.next();
      playSound();
      document.body.classList.add("is-start");
    });

  document.querySelector("#soju-reply").addEventListener("click", function () {
    Reveal.slide(0);
    audio.pause();
    audio.currentTime = 0;
    document.body.classList.remove("is-start");
  });

  document.querySelector("#soju-audio").addEventListener("click", function () {
    playSound();
  });
</script>
{% endblock %}
