{% extends 'layouts/application.html' %} {% block content %}

<div id="soju-vue" class="soju-book site-loading">
  <div class="soju-util">
    <audio id="audioSoju">
      <!-- <source src="audio/hopipolla.mp3" type="audio/mpeg" /> -->
      <!-- <source src="audio/soundtrack-demo-1.mp3" type="audio/mpeg" /> -->
      <source src="audio/soundtrack-chon-1-min.mp3" type="audio/mpeg" />
      <!-- <source src="audio/sountrack-demo-10s.mp3" type="audio/mpeg" /> -->
    </audio>

    <div class="menu-hmm">
      <div class="">
        <img src="img/back-btn.svg" width="36" />
      </div>

      <div class="soju-reply" style="margin-left: 10px" id="soju-reply">
        <img src="img/demo/btn-reload.svg" width="36" />
      </div>
    </div>

    <div class="soju-logo">
      <img
        src="img/logo-2.png"
        class="img-fluid d-block mx-auto"
        width="
      90"
        alt=""
      />
    </div>
    <div class="menu-hmm">
      <div class="soju-audio-play" id="soju-audio">
        <img src="img/demo/volumn-up.svg" class="on" width="36" />
        <img src="img/demo/volumn-mute.svg" class="off" width="36" />
      </div>

      <div class="soju-share" id="soju-share" style="margin-left: 10px">
        <img src="img/demo/btn-share.svg" width="36" />
      </div>
    </div>
  </div>

  <div class="book-pattern">
    <img src="img/gay-sach.png" class="d-block" alt="" />
  </div>

  <!-- <div class="soju-nav">
    <div class="back">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-left"
      >
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </div>
    <div class="txt">Nhật ký MoMo</div>
  </div> -->

  <div class="reveal reveal-wrap">
    <div class="slides">
      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="0"
        class="bg-light slide-special"
        data-background-color="#f9c8db"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-section text-left">
              <div class="soju-figure mb-35">
                <img
                  src="img/kv-20.png"
                  class="img-fluid mx-auto"
                  alt=""
                  width="260"
                  loading="lazy"
                />
              </div>

              <div class="soju-welcome">
                <div class="soju-name">
                  Chào
                  <strong class="text-momo text-big text-nowrap"
                    >${info && info.name}
                  </strong>
                </div>
                <p class="soju-subname">
                  Đến với <strong class="text-momo">Nhật ký MoMo!</strong>
                </p>
                <p class="soju-subname">MoMo chờ bạn từ chiều.</p>
              </div>
            </div>
          </div>

          <div class="soju-footer" id="soju-button-next">
            <div class="soju-play">
              <span class="loader"></span>
              <span class="loader-text">Đang tải ...</span>
              <span class="own">XEM NGAY</span>
            </div>
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="500"
              >
                <div class="text-momo text-big ">
                  ${info && info.date}
                </div>
              </div>
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="500"
              >
                ngày đầu tiên biết nhau
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="500"
              >
                <strong class="text-momo">MoMo</strong> thấy may mắn vì có
              </div>

              <div
                class="fragment soju-p txt3 fade-up mb-4"
                data-fragment-index="4"
                data-autoslide="500"
              >
                <strong class="text-momo text-nowrap"
                  >${info && info.name}
                </strong>
                là chân ái.
              </div>

              <div
                class="fragment soju-p txt3 fade-up mb-4"
                data-fragment-index="5"
                data-autoslide="3000"
              >
                Mới đó đã <strong class="text-momo">382</strong> ngày
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/img2.svg"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Tình bạn của MoMo và
              </div>

              <div
                class="fragment soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                <div
                  class="text-momo text-big animated bounceIn slow text-nowrap"
                >
                  ${info && info.name}
                </div>
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="500"
              >
                giờ đã lên
                <strong class="text-momo text-medium">hạng Bạc</strong>
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="4"
                data-autoslide="2500"
              >
                thắm thiết như lão Hạc <br />
                và cậu Vàng luôn.
              </div>
            </div>
          </div>
          <div class="soju-figure-2">
            <img
              src="img/mau/img3.svg"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Với
                <strong class="text-momo text-big"
                  >${info && info.money}
                </strong>
                đ
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                tiết kiệm này từ <b class="">MoMo</b>
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="3"
                data-autoslide="500"
              >
                <strong class="text-momo text-medium text-nowrap"
                  >${info && info.name}
                </strong>
                khao <b class="">MoMo</b> <br />
                chầu ăn ra trò
              </div>

              <div
                class="fragment fade-right soju-p"
                data-fragment-index="4"
                data-autoslide="2500"
              >
                để thắt chặt tình bạn nha!
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh5.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                <strong class="text-momo text-medium text-nowrap"
                  >${info && info.name}
                </strong>
                cho MoMo <br />
                biết <b class="text-momo">bạn bè chung</b> với nhau đi
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                Hứa giữ bí mật.
              </div>

              <div
                class="fragment fade-right soju-p"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                <strong class=""> MoMo</strong> có nhiều điều thú vị <br />
                để kể lắm.
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh6.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Bây giờ,
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                Để <b>MoMo</b> thử xem <br />

                hiểu
                <strong class="text-momo text-medium text-nowrap"
                  >${info && info.name}</strong
                >
                đến đâu nhé
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh7.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Có bạn đại gia mà giờ <br />
                <b>MoMo</b> mới biết,
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide=""
              >
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >
                chuyển sương sương
              </div>

              <div
                class="fragment soju-p fade-in"
                data-fragment-index="3"
                data-autoslide="500"
              >
                <div class="text-momo text-big animated bounceIn slow">
                  ${info && info.money} đ
                </div>
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="4"
                data-autoslide=""
              >
                trong năm nay lun á
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh8.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Trên tình bạn, dưới tình yêu
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide=""
              >
                ở giữa là
                <strong class="text-momo">23</strong> người chuyển tiền cho
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="3"
                data-autoslide=""
              >
                không tốn phí là nhờ MoMo ý.
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh9.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p text-small"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Cùng xem qua top 3 người chuyển tiền
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide=""
              >
                cho
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >
                nhiều nhất nào.
              </div>
              <div class="mt-25">
                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="3"
                  data-autoslide="500"
                >
                  <span class="text-momo text-user"> Nguyen Nghia Dang </span>
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="4"
                  data-autoslide="500"
                >
                  <span class="text-momo text-user"> Hanh Tuong </span>
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="5"
                  data-autoslide="2500"
                >
                  <span class="text-momo text-user"> Nhu Kipu MoMo </span>
                </div>
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh10.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Thanh xuân như một tách trà
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide=""
              >
                Chuyển tiền cho top 3 nhân vật này hết cả thanh xuân của
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >.
              </div>
              <div class="mt-25">
                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="3"
                  data-autoslide="500"
                >
                  <span class="text-momo text-user"> Nguyen Nghia Dang </span>
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="4"
                  data-autoslide="500"
                >
                  <span class="text-momo text-user"> Hanh Tuong </span>
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="5"
                  data-autoslide="2500"
                >
                  <span class="text-momo text-user"> Nhu Kipu MoMo </span>
                </div>
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh11.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Yêu màu hồng, sống tình cảm <br />
                là
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >
                đó,
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                <strong class="text-momo">nạp tiền điện thoại giúp </strong>
                người thân đến <strong class="text-momo">24</strong> lần.
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                <strong class="">MoMo</strong> tự hào vì bạn.
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh15.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Tấm lòng vàng trong làng từ thiện là đây rồi,
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                nuôi được tận <strong class="text-momo">454 chú heo</strong> đó
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >.
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                <strong>MoMo</strong> rất tự hào về bạn mình nhen.
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh17.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                1 chấm là say đắm, 2 chấm là đắm say
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="2"
                data-autoslide="500"
              >
                năm nay <b>MoMo</b> ngất ngây
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                vì
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >
                đã quẹt mã thanh toán đến
                <strong class="text-momo text-medium">45 </strong> lần
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh23.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-pinklight"
        data-background-color="rgb(252, 228, 236)"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment fade-up soju-p"
                data-fragment-index="1"
                data-autoslide="500"
              >
                Đầu đội trời, chân đạp đất
              </div>

              <div
                class="fragment fade-up soju-p"
                data-fragment-index="3"
                data-autoslide="2500"
              >
                <strong class="text-momo text-nowrap"
                  >${info && info.name}</strong
                >
                quá xịn nên chọn đi du hí toàn bằng máy bay.
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/mau/hinh27.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="0"
        class="bg-pinklight"
        data-background-color="#f9c8db"
      >
        <div class="soju-wrap">
          <div class="soju-main soju-main-end">
            <div class="soju-cluster">
              <div class="soju-figure mb-25">
                <img
                  src="img/Lookback-ending.png"
                  class="img-fluid mx-auto"
                  alt=""
                  width="230"
                  loading="lazy"
                />
              </div>

              <div class="">
                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="1"
                  data-autoslide="500"
                >
                  Cảm ơn
                  <strong class="text-momo text-big text-nowrap text-nowrap"
                    >${info && info.name}</strong
                  >
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="2"
                  data-autoslide="500"
                >
                  đã đồng hành cùng MoMo
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="3"
                  data-autoslide="500"
                >
                  Đây là Nhật Ký của username và MoMo
                </div>

                <div
                  class="fragment fade-up soju-p text-momo text-mediun"
                  data-fragment-index="4"
                  data-autoslide="500"
                >
                  Còn bạn thì sao?
                </div>
              </div>
            </div>
          </div>

          <div class="soju-footer">
            <!-- <div
              class="fragment fade-up soju-p text-small"
              data-fragment-index="4"
              data-autoslide="2500"
            >
              Đừng quên chia sẻ những kỉ niệm này nhé
            </div> -->

            <div class="soju-play"><span>CHIA SẺ</span></div>
          </div>
        </div>
      </section>

      <!-- class="bg-red"
      data-background-color="#1a237e" -->
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script>
  // Viewport height hack for Facebook app browser
  // window.addEventListener("resize", function () {
  //   onResize();
  // });
  // function onResize() {
  //   document.querySelector("html").style.height = window.innerHeight + "px";
  // }
  // onResize();

  // function isFacebookApp() {
  //   var ua = navigator.userAgent || navigator.vendor || window.opera;
  //   return ua.indexOf("FBAN") > -1 || ua.indexOf("FBAV") > -1 || ua.indexOf('Instagram') > -1;
  // }
  // alert(screen.height);

  // if(isFacebookApp) {
  //   document.querySelector('html').style.height = screen.height + 'px'
  // }

  new Vue({
    el: "#soju-vue",
    data: {
      info: null,
      loading: true,
      errored: false,
    },
    delimiters: ["${", "}"],
    mounted: function () {
      var vm = this;

      axios
        .get("https://run.mocky.io/v3/ddcef6ce-81fa-4c90-9867-be286f5e146b")
        .then((response) => (this.info = response.data))
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          //delay 2s thu xem

          setTimeout(function () {
            Reveal.initialize({
              // width: 375,
              // height: 667,
              controls: false,
              progress: true,
              // keyboard: false,
              pause: false,
              touch: false,
              center: true,
              hash: false,
              minScale: 0.9,
              maxScale: 1,
              // autoSlide: 1000,
              embedded: true,
              disableLayout: true,
              autoSlideStoppable: true,
              appearance: {
                baseclass: "animated",
                visibleclass: "in",
                hideagain: true,
                delay: 300,
              },
              plugins: [Appearance],
            });

            setTimeout(function () {
              document
                .querySelector(".soju-book")
                .classList.remove("site-loading");
            }, 400);
          }, 2000);
        });
    },
  });

  var audio = document.querySelector("#audioSoju");
  audio.onended = function () {
    audio.pause();
  };

  function playSound() {
    if (!audio) return;
    if (audio.paused) {
      audio.play();
      document.body.classList.remove("is-audio-pause");
      return;
    }
    audio.pause();
    document.body.classList.add("is-audio-pause");
  }

  Reveal.on("ready", (event) => {
    // event.currentSlide, event.indexh, event.indexv
    console.log("dang chay");
  });

  Reveal.on("slidetransitionend", (event) => {
    console.log(event.currentSlide);
    console.log(Reveal.isLastSlide());

    if (Reveal.isLastSlide()) {
      document.body.classList.add("is-end");
    } else {
      document.body.classList.remove("is-end");
    }
  });

  Reveal.on("autoslideresumed", (event) => {
    console.log("dang chay");
  });
  Reveal.on("autoslidepaused", (event) => {
    console.log("dang dung");
  });

  document
    .querySelector("#soju-button-next")
    .addEventListener("click", function () {
      Reveal.next();
      playSound();
      document.body.classList.add("is-start");
    });

  document.querySelector("#soju-reply").addEventListener("click", function () {
    Reveal.slide(0);
    audio.pause();
    audio.currentTime = 0;
    document.body.classList.remove("is-start");
  });

  document.querySelector("#soju-audio").addEventListener("click", function () {
    playSound();
  });

  var ua = navigator.userAgent.toLowerCase();
  var isAndroid = ua.indexOf("android") > -1;
  if (isAndroid) {
    document.body.classList.add("android-webview");
  }

  // if (1 == 1) {
  //   var r = confirm("Press a button!");
  //   if (r == true) {
  //     console.log("You presses OK !");
  //   } else {
  //     console.log("You pressed Cancel!");
  //   }
  // }
</script>
{% endblock %}
