{% extends 'layouts/application.html' %} {% block content %}

<div id="soju-vue" class="soju-book site-loading">
  <div class="soju-util">
    <audio id="audioSoju">
      <!-- <source src="audio/hopipolla.mp3" type="audio/mpeg" /> -->
      <!-- <source src="audio/soundtrack-demo-1.mp3" type="audio/mpeg" /> -->
      <!-- <source src="audio/soundtrack-chon-1-min.mp3" type="audio/mpeg" /> -->
      <source src="audio/beat-momo-min-2.mp3" type="audio/mpeg" />
      <!-- <source src="audio/sountrack-demo-10s.mp3" type="audio/mpeg" /> -->
    </audio>

    <div class="menu-hmm">
      <div class="">
        <img src="img/back-btn.svg" width="36" />
      </div>

      <div class="soju-reply" style="margin-left: 10px" id="soju-reply">
        <img src="img/demo/btn-reload.svg" width="36" />
      </div>
    </div>

    <div class="soju-logo">
      <img
        src="img/lacxi/Logo-300.png"
        class="img-fluid d-block mx-auto"
        width="120"
        alt=""
      />
    </div>
    <div class="menu-hmm">
      <div class="soju-audio-play" id="soju-audio">
        <img src="img/demo/volumn-up.svg" class="on" width="36" />
        <img src="img/demo/volumn-mute.svg" class="off" width="36" />
      </div>

      <div class="soju-share" id="soju-share" style="margin-left: 10px">
        <img src="img/demo/btn-share.svg" width="36" />
      </div>
    </div>
  </div>

  <div class="reveal reveal-wrap">
    <div class="slides">
      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="0"
        class="bg-light slide-special bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main soju-section-intro">
            <div class="soju-section text-left ">
              <div class="soju-figure-lacxi ">
                <img
                  src="img/lacxi/Intro-Outro.png"
                  class="img-fluid mx-auto"
                  alt=""
                  width=""
                  loading="lazy"
                />
              </div>

              <div class="soju-welcome">
                <div class="soju-name">
                  Chào
                  <strong class="text-momo text-big text-nowrap"
                    >${info && info.name}
                  </strong>
                </div>
                <p class="soju-subname">
                  Cùng MoMo nhìn lại mùa
                  <strong class="text-momo">Lắc Xì</strong> năm
                  <strong class="text-momo">Tân Sửu</strong> nha
                </p>
              </div>
            </div>
          </div>

          <div class="soju-footer" id="soju-button-next">
            <div class="soju-play">
              <span class="loader"></span>
              <span class="loader-text">Đang tải ...</span>
              <span class="own">XEM NGAY</span>
            </div>
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="250"
              >
                <strong class="text-momo">11 triệu </strong> người hăng hái chơi
                Lắc Xì,
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="250"
              >
                đến từ <strong class="text-momo">60 tỉnh thành</strong> khác nhau
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="250"
              >
            
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="4"
                data-autoslide="4000"
              >
              Tổng thời gian mọi người cùng lắc tương đương <strong class="text-momo "> 1.200 </strong> năm
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/lacxi/2.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="250"
              >
                Người lớn nhất chơi Lắc Xì là
                <strong class="text-momo">57 </strong> tuổi
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="250"
              >
                nhỏ nhất là <strong class="text-momo">19 </strong> tuổi
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="4000"
              >
                Lắc là có quà, nhà nhà đê mê, không ngại tuổi tác
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/lacxi/3.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="250"
              >
                Từ Lắc Xì, đã có
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="250"
              >
                <strong class="text-momo"> 20.000 </strong> chú heo vàng được
                quyên góp
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="250"
              >
                <strong class="text-momo">500.000</strong> người nhận đủ 5 viên
                ngũ hành
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="4"
                data-autoslide="4000"
              >
                Thật ấn tượng phải không?
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/lacxi/4.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="250"
              >
                <strong class="text-momo text-big">18/01/2021</strong>
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="250"
              >
                là ngày đầu tiên
                <strong class="text-momo"> Việt Hùng</strong> <br />
                tham gia Lắc Xì
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="4000"
              >
                bắt đầu hành trình nhận quà không ngừng nghỉ
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/lacxi/5.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="250"
              >
                <strong class="text-momo">Việt Hùng</strong> đã lắc
                <strong class="text-momo">255</strong> lượt
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="250"
              >
                tương đương <strong class="text-momo">69</strong> phút
                <br />
                "vận động cổ tay"
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="250"
              >
                được MoMo lì xì <strong class="text-momo">50.000</strong>đ
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="4"
                data-autoslide="250"
              >
                tìm được <strong class="text-momo">50 </strong>
                <img src="img/lacxi/heo-icon.svg" class="heo-icon" alt="" /> chú
                heo vàng
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="5"
                data-autoslide="4000"
              >
                kiếm được <strong class="text-momo">15 </strong> viên ngọc
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/lacxi/6.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="1000"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main">
            <div class="soju-cluster">
              <div
                class="fragment soju-p fade-up"
                data-fragment-index="1"
                data-autoslide="250"
              >
                <strong class="text-momo">Việt Hùng</strong> đã hỏi xin từ
                <strong class="text-momo">20</strong> bạn bè
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="2"
                data-autoslide="250"
              >
                Tỉ lệ xin thành công: <strong class="text-momo">50% </strong>
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="3"
                data-autoslide="250"
              >
                nhận được <strong class="text-momo">5 </strong> ngọc và mảnh
                ghép
              </div>

              <div
                class="fragment soju-p fade-up"
                data-fragment-index="4"
                data-autoslide="4000"
              >
                Đúng là <strong class="text-momo">Việt Hùng</strong> có thật
                nhiều bạn tốt!
              </div>
            </div>
          </div>

          <div class="soju-figure-2">
            <img
              src="img/lacxi/7.png"
              class="img-fluid mx-auto"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section
        data-transition="fade"
        data-transition-speed="slow"
        data-autoslide="0"
        class="bg-lacxi"
        data-background-color="#fffbd8"
      >
        <div class="soju-wrap">
          <div class="soju-main soju-main-end ">
            <div class="soju-cluster">
              <div class="soju-figure mb-25">
                <img
                  src="img/lacxi/8outtro.png"
                  class="img-fluid mx-auto"
                  alt=""
                  width=""
                  loading="lazy"
                />
              </div>

              <div class="mb-20">
                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="1"
                  data-autoslide="500"
                >
                  Cảm ơn
                  <strong class="text-momo text-big text-nowrap "
                    >${info && info.name}</strong
                  >
                </div>

                <div
                  class="fragment fade-up soju-p"
                  data-fragment-index="2"
                  data-autoslide="500"
                >
                  đã đồng hành cùng Lắc Xì.
                </div>

                <div
                  class="fragment fade-up soju-p "
                  data-fragment-index="3"
                  data-autoslide="500"
                >
                  Hẹn gặp lại 2022 hứa hẹn với nhiều đột phá và thú vị nhé!
                </div>
              </div>
            </div>
          </div>

          <div class="soju-footer">
            <!-- <div
              class="fragment fade-up soju-p text-small"
              data-fragment-index="4"
              data-autoslide="2500"
            >
              Đừng quên chia sẻ những kỉ niệm này nhé
            </div> -->

            <div class="soju-play"><span>CHIA SẺ</span></div>
          </div>
        </div>
      </section>

      <!-- class="bg-red"
      data-background-color="#1a237e" -->
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script>
  // Viewport height hack for Facebook app browser
  // window.addEventListener("resize", function () {
  //   onResize();
  // });
  // function onResize() {
  //   document.querySelector("html").style.height = window.innerHeight + "px";
  // }
  // onResize();

  // function isFacebookApp() {
  //   var ua = navigator.userAgent || navigator.vendor || window.opera;
  //   return ua.indexOf("FBAN") > -1 || ua.indexOf("FBAV") > -1 || ua.indexOf('Instagram') > -1;
  // }
  // alert(screen.height);

  // if(isFacebookApp) {
  //   document.querySelector('html').style.height = screen.height + 'px'
  // }

  new Vue({
    el: "#soju-vue",
    data: {
      info: null,
      loading: true,
      errored: false,
    },
    delimiters: ["${", "}"],
    mounted: function () {
      var vm = this;

      axios
        .get("https://run.mocky.io/v3/ddcef6ce-81fa-4c90-9867-be286f5e146b")
        .then((response) => (this.info = response.data))
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          //delay 2s thu xem

          setTimeout(function () {
            Reveal.initialize({
              // width: 375,
              // height: 667,
              controls: false,
              progress: true,
              // keyboard: false,
              pause: false,
              touch: false,
              center: true,
              hash: false,
              minScale: 0.9,
              maxScale: 1,
              // autoSlide: 1000,
              embedded: true,
              disableLayout: true,
              autoSlideStoppable: true,
              appearance: {
                baseclass: "animated",
                visibleclass: "in",
                hideagain: true,
                delay: 300,
              },
              plugins: [Appearance],
            });

            setTimeout(function () {
              document
                .querySelector(".soju-book")
                .classList.remove("site-loading");
            }, 400);
          }, 2000);
        });
    },
  });

  var audio = document.querySelector("#audioSoju");
  audio.onended = function () {
    audio.pause();
  };

  function playSound() {
    if (!audio) return;
    if (audio.paused) {
      audio.play();
      document.body.classList.remove("is-audio-pause");
      return;
    }
    audio.pause();
    document.body.classList.add("is-audio-pause");
  }

  Reveal.on("ready", (event) => {
    // event.currentSlide, event.indexh, event.indexv
    console.log("dang chay");
  });

  Reveal.on("slidetransitionend", (event) => {
    console.log(event.currentSlide);
    console.log(Reveal.isLastSlide());

    if (Reveal.isLastSlide()) {
      document.body.classList.add("is-end");
    } else {
      document.body.classList.remove("is-end");
    }
  });

  Reveal.on("autoslideresumed", (event) => {
    console.log("dang chay");
  });
  Reveal.on("autoslidepaused", (event) => {
    console.log("dang dung");
  });

  document
    .querySelector("#soju-button-next")
    .addEventListener("click", function () {
      Reveal.next();
      playSound();
      document.body.classList.add("is-start");
    });

  document.querySelector("#soju-reply").addEventListener("click", function () {
    Reveal.slide(0);
    audio.pause();
    audio.currentTime = 0;
    document.body.classList.remove("is-start");
  });

  document.querySelector("#soju-audio").addEventListener("click", function () {
    playSound();
  });

  var ua = navigator.userAgent.toLowerCase();
  var isAndroid = ua.indexOf("android") > -1;
  if (isAndroid) {
    document.body.classList.add("android-webview");
  }

  // if (1 == 1) {
  //   var r = confirm("Press a button!");
  //   if (r == true) {
  //     console.log("You presses OK !");
  //   } else {
  //     console.log("You pressed Cancel!");
  //   }
  // }
</script>
{% endblock %}
