.soju-wrap {
  padding-left: 0;
  box-sizing: border-box;
}

.bg-lacxi {
  background-color: #fffbd8;

  background-image: url("https://static.mservice.io/images/s/momo-upload-api-210304160648-637504708086224524.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
//   background: #fffbd8;

//   background-image: linear-gradient(
//     to right bottom,
//     #fffbd8,
//     #fffbd8,
//     #fffbd8,
//     #fffbd8,
//     #fffbd8
//   );
}

.heo-icon{
  vertical-align: -11%;
    width: 20px;
}

.soju-book {
  background: #fffbd8;
}

.site-loading {
  .slides {

    section:first-child {

      background-color: #fffbd8;
    }
  }
}
.soju-figure-lacxi{
    padding-right: 8%;
}

.soju-util {

    .soju-logo {
      position: absolute;
      top: 13px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .soju-figure {
    padding: 0 0px;
    img {
      max-width: 300px;
      margin: 0 auto;
      // max-width: 290px;
    }
  }
  
