/* Custom color theme properties */
:root {
  --blue: #0066cc;
  --indigo: #6610f2;
  --purple: #410099;
  --pink: #f45197;
  --red: #ff5555;
  --orange: #fc642d;
  --yellow: #ffcd00;
  --green: #219653;
  --teal: #20c997;
  --cyan: #10cfc9;
  --white: #fff;
  --gray: #757575;
  --gray-dark: #424242;
  --pinkmomo: #a50064;
  --pinklight: #f9b5c3;
  --primary: #0066cc;
  --secondary: #9e9e9e;
  --success: #28a745;
  --info: #10cfc9;
  --warning: #ffcd00;
  --danger: #ff5555;
  --light: #f5f5f5;
  --dark: #212121;
  --primary-2: #a50064;
  --primary-3: #e81f76;
  --gray-900: #212121;
  --gray-800: #424242;
  --gray-700: #616161;
  --gray-600: #757575;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #e0e0e0;
  --gray-200: #eeeeee;
  --gray-100: #f5f5f5;

  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  // var(--f7-navbar-text-color, var(--f7-bars-text-color))
}
body {
  --soju-safe-area-top: env(safe-area-inset-top);
  --soju-safe-area-bottom: env(safe-area-inset-bottom);
}

body.android-webview {
  --soju-safe-area-top: 25px;
}

body,
html,
.App,
#root {
  user-select: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #a50064;

  background-image: linear-gradient(
    to right bottom,
    #e81f76,
    #d71772,
    #c60f6e,
    #b60669,
    #a50064
  );
  overflow: hidden;
  // color: var(--gray-800);
  color: rgba(0, 0, 0, 0.85);
  font-family: "Nunito", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-viewport {
}

.book-pattern {
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  z-index: 99;
  width: 21px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    opacity: 0.7;
    width: 21px;
  }
  //Neu ko co nav thi bo ra
  padding-top: 40px;
}

.reveal {
  color: rgba(0, 0, 0, 0.7);
  line-height: 18px;
}

.App,
#root {
  overflow: hidden;
  box-sizing: border-box;
}
.View {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  height: 100%;
  z-index: 5000;
  overflow: hidden;
  box-sizing: border-box;
}

.Page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 1;
}

body {
  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  // padding-top: 0;
  // height: 100vh !important;
  height: 100% !important;
}

.soju-book {
  margin: 0 auto;
  padding-left: 0;
  position: relative;

  overflow: hidden;

  background-color: rgb(252, 228, 236);

  @media (min-width: 768px) {
    max-width: 500px;
    max-height: 700px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  }
}

.soju-wrap {
  padding-left: 15px;
  box-sizing: border-box;
  // padding-bottom: env(safe-area-inset-bottom);
}

.Content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 0;
}

.reveal {
  width: 100%;
  height: 100%;
}


.rounce-circle {
  width: 150px;
  height: 100px;
  background-color: white;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-diagram-container {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  height: 340px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-diagram-item {
  width: 140px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  color: var(--pinkmomo);
  font-weight: bold;
  position: absolute;
  font-size: 15px;
  &.diagram-1 {
    top: 20px;
    left: 50%;
    margin-left: -70px;
    &:after {
      content: "";
      position: absolute;
      height: 40px;
      border-left: 2px dashed rgba(0, 0, 0, 0.3);
      z-index: -1;
      top: 100%;
    }
  }
  &.diagram-2 {
    bottom: 0;
    left: 0;

    &:after {
      content: "";
      width: 86px;
      position: absolute;
      height: 18px;
      border-top: 2px dashed rgba(0, 0, 0, 0.3);
      border-left: 2px dashed rgba(0, 0, 0, 0.3);
      z-index: -1;
      top: -20px;
      left: 50%;
    }
    &:before {
      content: "";
      position: absolute;
      height: 39px;
      border-left: 2px dashed rgba(0, 0, 0, 0.3);
      z-index: -1;
      top: -58px;
      right: -20px;
    }
  }
  &.diagram-3 {
    bottom: 0;
    right: 0;

    &:after {
      content: "";
      width: 86px;
      position: absolute;
      height: 18px;
      border-top: 2px dashed rgba(0, 0, 0, 0.3);
      border-right: 2px dashed rgba(0, 0, 0, 0.3);
      z-index: -1;
      top: -20px;
      right: 50%;
    }
  }
}

.tree-diagram-main {
  width: 180px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--pinkmomo);
  color: white;
}

.tree-diagram-item {
}

.tree-diagram-main {
}

.tree-diagram-item {
}

// html.reveal-full-page {
//   width: 100%;
//   height: 100%;
//   height: 100vh !important;
//   // height: calc(var(--vh, 1vh) * 100);
//   overflow: hidden;
// }

// SlidefadeIn

// .reveal {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.animate__bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
  animation-duration: calc(var(--animate-duration) * 0.75);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.img-fluid {
  display: block;

  max-width: 100%;
}

.soju-section {
  width: 100%;
}


.soju-section-intro{
 
  .soju-section{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    .soju-figure-lacxi{
      flex:1;
    }
  }
  .soju-figure-lacxi{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .soju-welcome{
    padding: 20px 30px;
  }
  @media (max-width: 320px) {
    .soju-welcome{
      padding: 10px 30px;
    }
  }
}




.soju-wrap {
  p,
  .soju-p {
    margin-top: 0;

    margin-bottom: 10px;

    margin-bottom: calc(10px + 1vh);

    margin-bottom: clamp(10px, 2.3vh, 20px);
  }
}

.soju-wrap {
  .soju-p:last-child {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 320px) {
  .soju-wrap {
    p,
    .soju-p {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

.mx-auto {
  margin: 0 auto;
}

.reveal.center,
.reveal.center .slides,
.reveal.center .slides section {
  // height: 100% !important;

  // background-image: radial-gradient(
  //   circle at 50% 47%,
  //   var(--primary-3) 0%,
  //   var(--pinkmomo) 86%
  // );

  // background-color: var(--gray-100) ;
  // background-size: cover;
  display: flex !important;

  .slides section {
    height: 100%;
  }
}

.slide-special {
  .soju-main {
    padding-top: 80px;
    align-items: center;
    padding-bottom: 0;
  }
  .soju-wrap {
    // background: rgb(252,213,228);
    // background: radial-gradient(circle, rgba(252,213,228,1) 0%, rgba(250,185,210,1) 100%);
  }
}

.soju-main {
}

.soju-wrap {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  width: 100%;
  // background: rgb(252,228,236);
  // background: radial-gradient(circle, rgba(252,228,236,1) 0%, rgba(254,223,233,1) 100%);
}

.soju-main {
  flex: 1;
  display: flex;
  // align-items: center;
  justify-content: center;
  // padding-top: 18vh;
  position: relative;
  z-index: 9;
  &.is-align-star {
    align-items: flex-start;
  }

  user-select: none;
}


.soju-main {
  padding-bottom: 260px;
  padding-top: 80px;
  padding-top: calc(80px + var(--soju-safe-area-top));
  align-items: center;

  
}

.reveal .slides {
  text-align: left;
  font-size: 21px;
  // background: #fff;
}

@media (max-height: 667px) {
  .soju-main {
    padding-bottom: 220px;
    padding-top: 80px;
    // padding-top: calc(80px + var(--soju-safe-area-top));
    // align-items: center;
  }

  .reveal .slides {
    font-size: 19px;
  }
}


@media (max-height: 568px) {
  .soju-main {
    padding-bottom: 170px;
    padding-top: 80px;
    // padding-top: calc(80px + var(--soju-safe-area-top));
    // align-items: center;
  }

  .reveal .slides {
    font-size: 16px;
  }
}



// .reveal .slides{
//   text-align: left;
//   font-size: 19px;
// }
// @media (max-width: 320px) {
//   .reveal .slides{
//     text-align: left;
//     font-size: 16px;
//   }
// }


// @media (min-height: 800px) {
//   .reveal .slides{
//     text-align: left;
//     font-size: 21px;
//   }
// }




// @media (min-height: 700px) {
//   .soju-main {
//     padding-bottom: 310px;
//     // padding-top: 80px;
//     // align-items: center;
//   }
//   .soju-wrap {
//     // .soju-figure-2 {
//     //   padding: 0 0 40px 15px;
//     // }
//   }
// }


// @media (min-height: 650px) {
//   .soju-main {
//     padding-bottom: 300px;
//     padding-top: 80px;
//     padding-top: calc(80px + var(--soju-safe-area-top));
//     align-items: center;
//   }
// }


.soju-main-end {
  align-items: center;
  padding-top: 80px;
  padding-bottom: 0;
  .soju-cluster{
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    .soju-figure{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}



.no-wrap {
  white-space: nowrap;
}

.soju-cluster {
  padding: 0 25px;
  line-height: 1.5;
  width: 100%;
  user-select: none;
}

.text-left {
  text-align: left;
}

.p-0 {
  padding: 0 !important;
}

.text-big {
  font-size: 28px;
  font-weight: bold;
}

.text-nowrap {
  white-space: nowrap;
  display: inline-block;
}

.text-user {
  // font-size: 21px;
}

// .text-medium {
//   font-size: 20px;
//   font-weight: bold;
// }

.font-weight-bold {
  font-weight: bold;
}

.text-small {
  // font-size: 0.9em;
}

.txt3 {
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-35 {
  margin-bottom: 35px;
}




.text-yellow {
  color: var(--yellow);
}

.text-momo {
  color: var(--pinkmomo);
}

.soju-welcome {
  padding: 0 30px;
  position: relative;
  // text-align: center;
}

.soju-name {
  margin-bottom: 20px;
}

.soju-subname {
  // font-size: 19px;
  margin-bottom: 15px;
  line-height: 1.5;
}

@media (max-width: 320px) {
  .soju-figure {
    // padding: 0 40px;
    img {
      max-width: 100%;
      margin: 0 auto;
      max-height: 140px;
      width: auto;
    }
  }

  .text-big {
    font-size: 23px;
    font-weight: bold;
  }
}

.reveal-wrap {
  height: 100% !important;
}

.soju-nav {
  height: 48px;
  width: 100%;
  position: relative;
  display: flex;
  color: white;
  z-index: 111;
  background: #b2056e;
  background: linear-gradient(90deg, #b2056e 0%, #f6799b 100%);
  + .reveal-wrap {
    height: calc(100% - 48px) !important;
  }

  .back {
    display: block;
    width: 54px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      width: 32px;
      height: 32px;
    }
  }
  .txt {
    position: absolute;
    font-size: 17px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.soju-figure {
  padding: 0 0px;
  img {
    max-width: 250px;
    margin: 0 auto;
    // max-width: 290px;
  }
}

.soju-figure-2 {
  padding: 0 20px 10px;
  img {
    max-height: 300px;
    margin: 0 auto;
    width: auto;
    display: block;
  }
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 320px) {
  .soju-figure-2 {
    padding: 0 20px 10px;
    img {
      max-height: 160px;
      margin: 0 auto;
      width: auto;
      display: block;
    }
  }
}

.soju-footer {
  padding: 10px 25px 20px;
}

.soju-play {
  user-select: none;
  display: block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  background: linear-gradient(to left, #a50064, #e81f76);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #a50064 0,
    #e81f76 51%,
    #a50064 100%
  );
  font-weight: bold;
  color: white;

  // box-shadow: 0 0.2em darken(#e81f76, 20%);
  animation: pulse2 1.5s infinite;

  box-shadow: 0 0 0 0 rgba(#e81f76, 0.3);
}

@keyframes pulse2 {
  0% {
    transform: scale(0.98);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 18px rgba(#e81f76, 0);
  }
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(#e81f76, 0);
  }
}
.menu-hmm {
  display: flex;
  // align-items: center;
  justify-content: center;
}

.soju-util {
  user-select: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 15px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 0);
  top: var(--soju-safe-area-top);
  .soju-logo {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.soju-reply {
  opacity: 0;
  pointer-events: none;
}
.is-end {
  .soju-reply {
    opacity: 1;
    pointer-events: initial;
  }
}

.is-start {
  .soju-audio-play {
    opacity: 1;
    pointer-events: initial;
  }
}

.soju-audio-play {
  opacity: 0;
  pointer-events: none;
  .on {
    display: block;
  }
  .off {
    display: none;
  }

  &.mute {
    .on {
      display: none;
    }
    .off {
      display: block;
    }
  }
}

.is-audio-pause {
  .soju-audio-play {
    .on {
      display: none;
    }
    .off {
      display: block;
    }
  }
}

.reveal .slides section[data-transition="fade"],
.reveal.fade .slides section:not([data-transition]),
.reveal.fade .slides > section > section:not([data-transition]) {
  transform: none;
  transition: opacity 1s;
}

.reveal .slides section .fragment {
  transition: all 0.9s ease;
}

#soju-vue {
  height: 100% !important;
  // height: calc(var(--vh, 1vh) * 100) 100% !important;
  width: 100% !important;
}

.bg-pinklight {
  // background-color: rgb(252, 228, 236);
}

.bg-dark {
  // background-color: rgb(74, 20, 140);
  color: white;
  .text-momo {
    color: #fff67d;
  }
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.reveal.ready .slides {
  opacity: 1;
}

.reveal .padded {
  display: inline-block;
  padding: 1rem;
}
.reveal .padded img {
  border: none;
  margin: 0;
}

.reveal .slides > section,
.reveal .slides > section > section {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.animated.in.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated.in.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.animated.in.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.in.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.in.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.in.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

/* Animate.css overrides */
.animated {
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-animation: none;
  animation: none;
}
i.animated,
span.animated {
  display: inline-block;
}
.animated.in {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.print-pdf {
  color: black;
}
.print-pdf .animated {
  visibility: visible;
}

.loader {
  border: 3px solid #f9c8db; /* Light grey */
  border-top: 3px solid #fff; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.soju-play {
  .loader,
  .loader-text {
    display: none;
  }
  .own {
    display: block;
  }
}

#soju-button-next {
  pointer-events: auto;
  cursor: pointer;
  user-select: inherit;
  // opacity: 0.5;
}

.site-loading {
  .slides {
    pointer-events: auto !important;
    opacity: 1 !important;
    section:first-child {
      pointer-events: auto !important;
      display: block !important;
      height: 100%;
      background-color: #f9c8db;
    }
  }

  #soju-button-next {
    pointer-events: none;
    user-select: none;
    // opacity: 0.5;
  }

  .soju-play {
    pointer-events: none;
    user-select: none;
    animation: none !important;
    position: relative;
    opacity: 1;
    background-image: linear-gradient(to left, #d3799f, #d3799f) !important;
    .loader {
      display: block;
      position: absolute;
      margin-right: 5px;
      left: 50%;
      top: 10px;
      margin-left: -75px;
    }
    .loader-text {
      display: block;
      font-weight: 400;
    }
    .own {
      display: none;
    }
  }
}

.reveal .progress {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}
.reveal .progress span {
  background-color: var(--pink);
}

@media (min-height: 500px) {
}



@import "lacxi";