<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Describes the encoding of the page to the browser -->
    <meta charset="utf-8" />

    <!-- Sets the title of the page.  Shown in the tab of your browser -->
    <title>MoMo Lookback 2020</title>

    <!-- Required for Bootstrap's responsive media queries to function -->
    <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1.0, viewport-fit=cover" />

    <!-- Meta tag for basic SEO -->
    <meta name="description" content="Momo" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1.0, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Nhật ký MoMo – Cùng nhìn lại 2020</title>
    <meta name="description" content="Hành trình 1 năm - Điểm nhấn tuyệt vời của MoMo. Tình bạn chúng mình trong năm 2021 thân thiết hơn nhé.">
    <meta name="keywords" content="siêu ứng dung, siêu ứng dung MoMo, Ví MoMo, Ví Điện Tử MoMo, Thanh Toán không tiền mặt.">
    <meta property="og:title" content="Nhật ký MoMo – Cùng nhìn lại 2020">
    <meta property="og:description" content="Hành trình 1 năm - Điểm nhấn tuyệt vời của MoMo. Tình bạn chúng mình trong năm 2021 thân thiết hơn nhé.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://momo.vn/nhat-ky-momo">
    <link rel="canonical" href="https://momo.vn/nhat-ky-momo" />
    <meta property="og:image:url" content="https://static.mservice.io/blogscontents/momo-upload-api-201228161518-637447689184594778.jpg">
    <meta property="og:image" content="https://static.mservice.io/blogscontents/momo-upload-api-201228161518-637447689184594778.jpg">
    <meta name="language" content="vietnamese">
    <meta name="copyright" content="Copyright © 2019 by MOMO.VN">
    <meta name="abstract" content="Ví điện tử MoMo - Siêu ứng dụng thanh toán số 1 Việt Nam">
    <meta name="distribution" content="Global">
    <meta name="author" content="Ví MoMo">
    <meta http-equiv="refresh" content="1200">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="RATING" content="GENERAL">
    <meta http-equiv="x-dns-prefetch-control" content="on">



    <meta property="og:site_name" content="Vi Momo">
    <meta property="fb:app_id" content="320653355376196">
    <meta property="fb:pages" content="138010322921640">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    {% block head %} {% endblock %}
    <!-- Main Theme CSS styles -->
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="css/reveal.css" />
    <!-- <link rel="stylesheet" href="css/theme/black.css" id="theme" /> -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,600&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"> -->
    
    <!-- <link rel="stylesheet" href="https://martinomagnifico.github.io/reveal.js-appearance/plugin/appearance/appearance.css"> -->

    <script>
      // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
      let vh = window.innerHeight * 0.01;
      // Then we set the value in the --vh custom property to the root of the document
      document.documentElement.style.setProperty("--vh", `${vh}px`);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->

    <script src="js/reveal.js"></script>

    <script src="js/appearance.js"></script>


    
  </head>

  <body>
    <!-- Main Nav Bar -->

    {% block header %} {% endblock %}
    <!-- <div class="App">
      <div className="View">
        <div className="Page">
          <div className="Content"> -->
    <!-- Main Body Content -->
    {% block content %} {% endblock %}
    <!-- </div>
        </div>
      </div>
    </div> -->
    <!-- Footer -->

    {% block footer %} {% endblock %} {% block javascript %} {% endblock %}
  </body>
</html>


